		body{
			background-color: black;
		}
		
		#content{
			color: white;
		}
		header{
			width: 100%;
			display: block;
			background-color: #32421B;
			top:0px;
			position: fixed;
			height: 20%;
			z-index: 10;
			border-bottom: solid #b90000;
	
		}
		article{
			margin-top: 200px;
		}
		.logo{
			background-size: contain;
			width: 30%;
			height: auto;
			
			
		}
		.logo,
		#menu{
			display: inline-block;
			
		}
		#menu{
			width:215.19px;
			position: absolute;
			
			vertical-align: top;
			bottom: 0px;
			right: 5px;
			
		}
		#hometab,
		#page2{
			margin-left: 20px;
			display: inline-block;
			font-size: 30px;
			

		}
		a{
			color:  #FEBA01; 
			text-decoration: none;
		}
		a:visited{

			color: #900000;

		}
		a:hover{
			color:white;
		}
		footer{
			width: 100%;
			display: block;
			background-color: #32421B;
			bottom:0px;
			position: fixed;
			height: 10%;
		}
		#footerContent{
			color: #FEBA01;
			height: 100%;
			width:20%;
			position: relative;
			left: 40%;
			
		}


		#content,
		#img1{

			width: 50%;
			position: relative;
			left: 35%;

		}
		#img1{
			height:300px;
		}

		@media all and (max-width: 1000px){

			.logo{
				width:300px;
				height: auto;
			}
			#hometab,
			#page2{
				font-size: 25px;
			}
			
		}
		@media all and (max-width: 630px){
			menu{
				position: absolute;
				right: 0px;
			}
			
			.logo{
				width:220px;
				height: auto;
			}
		}
		@media all and (max-width: 750px){

			#menu{
				width: 175px;
			}

			#img1{
				width:60%;
				height:auto;
			}

			#hometab,
			#page2{
				margin-left: 10px;
			}

		}


	